@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Display:wght@500;700;900&display=swap');

:root{
    --red_hat:'Red Hat Display', sans-serif;
    --Pale_blue: hsl(225, 100%, 94%);
    --Bright_blue: hsl(245, 75%, 52%);
    --Very_pale_blue: hsl(225, 100%, 98%);
    --Desaturated_blue: hsl(224, 23%, 55%);
    --Dark_blue: hsl(223, 47%, 23%);
    --padding_container: 80px 0;
}

*{
    margin: 0;
    box-sizing: border-box;
}

body{
    background-color: var(--Pale_blue);
}

.container{
    padding: var(--padding_container);
    font-family: var(--red_hat);
}

.card{
    width: 100%;
    max-width: 350px;
    margin: 0 auto;
    background-color: var(--Very_pale_blue);
    border-radius: 10px ;
}

.card__img{
    display: block;
    border-radius: 10px 10px 0 0;
    width: 100%;
    max-width: 400px;
}

.card__title{
    margin-top: 40px;
    text-align: center;
}

.card__parrafo{
    width: 70%;
    margin: 20px auto;
    line-height: 1.5;
    
}

.card__music{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 16px;
    margin: 10px;
    
}
.card__img--music{
    width: 30%;
    max-width: 60px;
}

.card__text{
    width: 30%;
    margin-top: 10px;    
}

.card__link{
    width: 30%;
    margin-top: 16px;
}

.card__footer{
    background-color: var(--Very_pale_blue);
    padding: 15px;
    border-radius: 0 0 10px 10px;
}

.cta{
    display: block;
    width: 90%;
    margin: 0 auto;
    text-decoration: none;
    background-color: var(--Bright_blue);
    padding: 16px 30px;
    color:#fff;
    text-align: center;
    border-radius: 16px;
    font-weight: 700;
}


.cta__white{
    background-color: var(--Very_pale_blue);
    text-decoration: none;
    color:darkgrey;
    margin-top: 20px;
}

